

/* Parent container */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(../../public/home.jpg);
  background-size: cover;
}

.main{
    display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
}
.parent{
    background-image: url(../../public/about\ background.jpg);
  margin-top: 40px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  width: 350px;
  text-align: center;
}

/* Heading */
.parent h1 {
  font-size: 32px;
  color: rgb(246, 196, 69);
  margin-bottom: 20px;
  text-shadow: 2px 2px 3px hsl(123, 46%, 17%);
}

/* Input fields */
.parent input {
  width: 300px;
  padding: 12px 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  transition: border 0.3s;
}

.parent input:focus {
  border: 2px solid #0984e3;
}

/* Buttons */
.parent button {
  width: 320px;
  padding: 12px;
  background-color: hsl(123, 46%, 17%);
  color: rgb(246, 196, 69);
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s;
}

.parent button:hover {
  background-color: #74b9ff;
  color: black;
}

.parent p{
  color: rgb(245, 204, 101);
}

/* Responsive for mobile */
@media (max-width: 400px) {
  .parent input, .parent button {
    width: 90%;
  }
}
