.market-page {
  padding: 20px;
  text-align: center;

  h1{
    font-size: 40px;
    color: hsl(123, 36%, 21%);
  }
}

.section {
  margin-bottom: 40px;


  h2{
    margin-top: 30px;
    color: hsl(123, 36%, 21%);
  }
}

.section-title {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding-left: 30px;
}

.crop-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.crop-card {
  width: 250px;
  height: 300px;
  border-radius: 20px;
  background: rgb(246, 196, 69);
  box-shadow: 2px 2px 3px hsl(123, 36%, 21%);
  padding: 15px;
  transition: 0.3s;
  text-align: center;
}

.crop-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.crop-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.crop-card h3 {
  margin: 10px 0;
  font-size: 20px;
  color: hsl(123, 36%, 21%);
}

.view-btn {
  margin-top: 10px;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  background: hsl(123, 36%, 21%);
  color: rgb(246, 196, 69);
  cursor: pointer;
  transition: 0.3s;
}

.view-btn:hover {
  background: #218838;
}
