

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(../../public/home.jpg);
  background-size: cover;
}

.profit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
}


/* Calculator card */
.calculator {
  background-image: url(../../public/about_background.jpg);
  margin-top: 40px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
  width: 350px;
  text-align: center;
}

.calculator h1 {
  margin-bottom: 25px;
  color: rgb(246, 196, 69);
  text-shadow: 2px 2px 3px hsl(123, 46%, 17%);
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  color:rgb(246, 196, 69) ;
  text-shadow: 2px 2px 3px black;
}

.form-group input {
  width: 100%;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  background-color: rgb(246, 196, 69);
  color: hsl(123, 46%, 17%);
  font-weight: 600;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 10px;
}

button:hover {
  background-color: #74b9ff;
  color: black;
}

.result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(246, 196, 69);
}
