.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  min-height: 80vh;
}

.profile-card {
  background: hsl(123, 36%, 21%);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 320px;
  margin-top: 40px;
}

.profile-card p {
  font-size: 18px;
  margin-bottom: 20px;
  color: rgb(245, 204, 101);
}

.logout-btn {
  background: rgb(245, 204, 101);
  color: hsl(123, 36%, 21%);
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.logout-btn:hover {
  background: #e60000;
}
